extends layout 

block layout-content
    div.content
        h1.page-title Administer menu links 
        a(href="/menu/add").add-link + Add link
        table 
            thead 
                tr
                    th Link
                    th Operations 
            tbody
                each link in links   
                    tr 
                        td #{link.name}
                        td
                            form(action="/menu/edit").inline
                                input(type="hidden", name="linkId", value=link._id)
                                button(type="submit").editBtn Edit
                            form(action="/menu/delete").inline
                                input(type="hidden", name="linkId", value=link._id)
                                button(type="submit").delBtn Delete